
.vs/slnx.sqlite
.vs/azulbook/v17/DocumentLayout.json
.vs/azulbook/v17/.wsuo
.vs/azulbook/FileContentIndex/f787eab8-486b-4578-959b-c8f0f5a38a3e.vsidx
.vs/azulbook/FileContentIndex/d90af2ef-0d58-4bd9-8e55-9be3ca7977bb.vsidx
.vs/azulbook/FileContentIndex/295d45b0-0f26-4abc-92b6-30fcd93ca806.vsidx
